<div class="container">
    <div class="row">
      <div class="col-12" style="background-color: #e20074; margin: 10px 0 0 0;">
        <span style="color: white">
          <mat-icon style="margin-top: 4px">view_headline</mat-icon>
          <label class="nav-bar-title">Enlight</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 sideNavBar">
        <app-option-section></app-option-section>
      </div>
      <div class="col-md-10" style="background-color: #f5f6f7">
        <div id="sample" class="search-container">
          <!-- <app-search-item></app-search-item> -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  