<div>
  <div>
    <mat-icon style="margin-top: 4px">search</mat-icon>
    <label [routerLink]="['/learning-web-portal']">Search</label>
  </div>
  <div id="shopping_cart">
    <mat-icon
      style="margin-top: 4px"
      [matBadge]="cartLength$ | async"
      matBadgeColor="accent"
      matBadgeOverlap="false"
      matBadgePosition="above before"
      [matBadgeHidden]="(cartLength$ | async) === 0"
      class="hide-text"
      >shopping_cart</mat-icon
    >
    <label [routerLink]="['/cart']">Cart</label>
  </div>
  <div>
    <mat-icon
      style="margin-top: 4px"
      [matBadge]="collectionLength$ | async"
      matBadgeColor="accent"
      matBadgeOverlap="false"
      matBadgePosition="above before"
      [matBadgeHidden]="(collectionLength$ | async) === 0"
      >library_books</mat-icon
    >
    <label [routerLink]="['/my-collection']">My Collection</label>
  </div>
</div>
