<div *ngFor="let items of populateCartItem">
  <div class="cart-data">
    <div>
      <div id="title" class="mat-title title">
        {{ items?.title }}
        <img src="{{ items?.imageLinks.smallThumbnail }}" alt="" class="book-img" />
      </div>
    </div>
    <div class="mat-caption subheading">
      {{ items?.subtitle }}
    </div>
    <div>
      <p>{{ items?.description }}</p>
    </div>
    <div class="author-detail">
      <div class="mat-subheading-2" style="text-align: start">Written By:</div>
      <div class="author-name">{{ items?.authors }}</div>
      <div>
        <mat-icon class="remove-cart-img" (click)="removeItem(populateCartItem,items)"
          >remove_shopping_cart</mat-icon
        >
      </div>
    </div>
  </div>
  <div class="footer-section">
    <button
      mat-button
      color="accent"
      mat-raised-button
      (click)="checkLength(cartListItem)"
    >
      Proceed to purchase
    </button>
  </div>
</div>