<mat-card id="book-details">
    <mat-card-header>
      <div class="book-heading">
        <mat-card-title>{{ bookDetails?.title }}</mat-card-title>
        <mat-card-subtitle>{{ bookDetails?.subtitle }}</mat-card-subtitle>
      </div>
      <div class="book-img-area" *ngIf="bookDetails?.imageLinks">
        <img
          class="book-img"
          mat-card-image
          src="{{ bookDetails?.imageLinks.smallThumbnail }}"
          alt="Photo of a Shiba Inu"
        />
      </div>
    </mat-card-header>
    <div>
      <mat-card-content>
        <p>
          {{
            bookDetails?.description
              ? (bookDetails?.description | slice: 0:300) + "..."
              : "No Book information"
          }}
        </p>
      </mat-card-content>
    </div>
    <mat-card-footer class="author-info">
      <label class="mat-subheading-2">Written By:</label>
      <div class="author-name">{{ bookDetails?.authors }}</div>
      
    </mat-card-footer>
  </mat-card>
  