<!-- <form [formGroup]="searchForm"> -->
  <div>
    <mat-form-field class="example-form-field">
      <input
        matInput
        type="text"
        placeholder="Search in Library"
        [(ngModel)]="searchLibrary"
      />
    </mat-form-field>
    <span style="height: 100%; width: 100%">
      <mat-icon class="search-icon">search</mat-icon></span
    >
  </div>
  <div class="book-info">
    <div
      *ngFor="let books of bookList | filter:searchLibrary"
      [ngClass]="{ item: !pageView }"
      (click)="openpage(books)"
    >
      <div *ngIf="!pageView">
        <div>
          <div id="title" class="mat-title title">
            {{ books?.volumeInfo?.title }}
            <img src="../../assets/image/angularjs.png" alt="" class="book-img" />
          </div>
        </div>
        <div class="mat-caption subheading">
          {{ books?.volumeInfo?.subtitle }}
        </div>
        <div>
          <p>{{ books?.volumeInfo?.description }}</p>
        </div>
        <div class="author-detail">
          <label class="mat-subheading-2">Written By:</label>
          <div class="author-name">{{ books?.volumeInfo?.authors }}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pageView" [ngClass]="{ 'item-detailed-view': pageView }">
    <div>
      <div id="title" class="mat-title title">
        {{ bookDetailedView?.volumeInfo?.title }}
        <img src="../../assets/image/Angular.jpg" alt="" class="book-img" />
      </div>
    </div>
    <div class="mat-caption subheading">
      {{ bookDetailedView?.volumeInfo?.subtitle }}
    </div>
    <div class="book-classification">
      <div>
        <span class="mat-title">Rating : </span>
        <span></span>
      </div>
      <div>
        <span class="mat-title">Publisher : </span>
        <span>{{ bookDetailedView?.volumeInfo?.publisher }}</span>
      </div>
      <div>
        <span class="mat-title">Page Count : </span>
        <span></span>
      </div>
      <div>
        <span class="mat-title">Language : </span>
        <span></span>
      </div>
    </div>
    <div>
      <p>{{ bookDetailedView?.volumeInfo?.description }}</p>
    </div>
    <div class="author-detail">
      <label class="mat-subheading-2">Written By:</label>
      <div class="author-name">{{ bookDetailedView?.volumeInfo?.authors }}</div>
    </div>
    <div class="footer-section">
      <button mat-button color="accent" mat-raised-button (click)="addToCart(bookDetailedView)">ADD TO CART</button>
      <button mat-button color="accent" mat-raised-button [routerLink]="['/billing-details']">BUY</button>
    </div>
  </div>
<!-- </form> -->

