<div class="search-area">
  <mat-form-field class="example-form-field">
    <input
      matInput
      type="text"
      placeholder="Search in Library"
      [(ngModel)]="searchLibrary"
      name="searchLibrary"
    />
  </mat-form-field>
  <span style="height: 100%; width: 100%">
    <mat-icon class="search-icon" *ngIf="searchLibrary" (click)="getSearchItem()"
      >search</mat-icon
    ></span
  >
</div>
<div class="book-container">
  <app-book-detail
    class="book"
    [bookDetails]="books?.volumeInfo"
    [cartComponent]="false"
    [bookArray]="bookList"
    *ngFor="let books of (bookList$ | async )| filter: searchLibrary"
    (click)="openFullBookView(books)"
    [routerLink]="['/full-book-view']"
  ></app-book-detail> 
</div>
